/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color);
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  background-color: var(--bg-color);
  background-image: var(--header-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding-block: 10px;
  padding-inline: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 40px;
  padding-inline: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__logo {
  position: absolute;
  top: 10px;
  right: 20px;
  display: inline-block;
  color: var(--bg-accent-color);
  text-transform: uppercase;
}

.header__logo::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--bg-accent-color);
  background-color: var(--bg-accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  display: block;
  border: 1px solid transparent;
  padding-block: 1px 5px;
  padding-inline: 13px;
  color: var(--button-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: var(--button-focus-color) solid 1px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-active-color);
  pointer-events: none;
}

.header__title {
  justify-self: start;
  color: var(--header-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--header-shadow-color);
}

.header__title-description {
  align-self: center;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--bg-accent-color);
}

.content__link {
  color: var(--link-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.content__link:hover {
  border-bottom: 1px solid var(--link-color);
}

.content__link:focus {
  outline: none;
  text-decoration: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--link-focus-color);
}

.content__section-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__section-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__section-header {
  margin-block-end: 20px;
  color: var(--content-header-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.content__section-text-header {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  background-color: var(--bg-accent-color);
}

.content__section-text {
  line-height: 130%;
}

.content__section-howto .content__section-text-header {
  font-weight: normal;
}

.content__section-howto .text-header-bold {
  margin-block-start: 5px;
  font-weight: bold;
}

.content__section-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__section-images-set {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.content__section-image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-start: 42px;
}

.footer__title {
  align-self: center;
  color: var(--header-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--header-shadow-color);
}

@media (width >= 768px) {

  .header {
      padding-block: 20px;
      padding-inline: 20px;
  }

  .decorated-zone::after {
      top: 20px;
      right: 20px;
  }

  .decorated-zone::before {
      bottom: 20px;
      left: 20px;
  }

  .header__logo {
      top: 20px;
      right: 30px;
  }

  .header__title {
      align-self: start;
      margin-inline-start: -20px;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title-description {
      justify-self: end;
      inline-size: 50%;
  }

  .content {
      gap: 80px;
      padding-block: 20px 0;
      padding-inline: 20px;
  }

  .content__section-what .content__section-header {
      max-inline-size: 236px;
  }

  .content__section-howto .content__section-header {
      margin-block-end: 0;
  }

  .content__section-reasons .content__section-header {
      margin-block-end: 0;
  }

  .content__section-reasons {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;
  }

  .content__section-text-header {
      margin-block-start: 0;
  }

  .content__section-howto {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;
  }

  .content__section-images {
      gap: 20px;
  }

  .content__section-images-set {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, minmax(min-content, max-content));
      grid-template-areas:
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
      gap: 23px;
  }

  .content__section-images-sunset {
      grid-area: sunset;
  }

  .content__section-images-icecream {
      grid-area: icecream;
  }

  .content__section-images-tape {
      grid-area: tape;
  }

  .content__section-images-books {
      grid-area: books;
  }

  .content__section-images-street {
      grid-area: street;
  }

  .footer {
      margin-block-start: 57px;
  }

  .footer__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
      justify-self: center;
      align-self: start;
      margin-block-start: 0;
  }

  .header__title {
      align-self: center;
  }

  .header__theme-menu-list {
      flex-direction: row;
  }

  .content__section-reasons {
      gap: 10px;
  }

  .content__section-howto .text-header-bold {
      margin-block-start: 0;
  }

  .content__section-header {
      max-inline-size: 315px;
  }

  .content__section-cards-columns {
      display: grid;
      grid-template-columns: repeat(3, minmax(315px, 1fr));
      gap: 20px;
  }

  .content__section-what .content__section-header {
      max-inline-size: 315px;
      margin-block-end: 22px;
  }

  .content__section-howto {
      gap: 10px;
  }

  .footer {
      min-block-size: 768px;
      margin-block-start: 60px;
  }
}